body{
     margin: 0;
     
}

header{
     background-color: #000000;
     height: 70px;
     margin: 0;
     display: flex;
}

.logoNav{
     width: 200px;
     display: flex;
}

.pumpkin{
     width: 50px;
     margin-top: 10%;
     margin-bottom: 2%;
     margin-left: 20%;
     cursor: pointer;
}

.hihi{
     color: black;
     display: block;
}



.nav{
     display: flex;
     justify-content: space-around;
     width: 60%;
     margin-left: 49%;
     color: white;
     text-align: center;
     margin-top: 1%;
     
}

.navHover1:hover{
     background-color: orange;
     border-radius: 30px;
     width: 17%;
     cursor: pointer;
     text-align: center;
     border: #6d695b solid;
    
}



.navHover2:hover{
     background-color: orange;
     border-radius: 30px;
     width: 25%;
     cursor: pointer;
     text-align: center;
     border: #6d695b solid;

}

.div4{
justify-content: center;    
 display: flex;
}

.fourElements{
    
     margin-top: 5%;
     text-align: center;
     box-shadow: 0px 0px 30px 0px;
     width: max-content;
}

.hr01{
     margin-top: 5%;
}

.section1{
margin-top: 10%;
display: flex;
width: 100%;
}

.h1First{
     border-bottom: solid orange 2px;
     width: max-content;
     margin-left: 3%;
}

.PFirst{
     font-size: 40px;
     margin-left: 3%;
}

.buttonFirst{
     margin-left: 3%;
     cursor: pointer;
     background-color: rgb(236, 182, 81);
     box-shadow: black 3px 2px 10px 1px;
     position: absolute;
}
.sectionImg{
     display: flex;
     text-align: end;
}

.leviathan{
     
     width: 500px;
     
     margin-top: 13.5%;
}


.dancingSatan{
     width: 300px;
     margin-left: 40%;
     display: none;
}

.section2{
     width: 100%;
     height: 300px;
     background-color: rgba(128, 128, 128, 0.335);
     margin-top: 5%;
     
}

.divBtn{
     display:flex;
     justify-content: center;
     align-items: center;

}
.saveMe{
     margin-top: 5%;
     cursor: pointer;
     border-radius: 50px;
     border: rgb(150, 209, 12) solid 3px;
     height: 100px;
     width: 100px;
     color: red;
     background-color: black;
     margin-bottom: 5%;
     
     }